form {
    width: 400px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 250px;
  }
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  .recherche {
    width: 75%;
  }
  .chercher {
    width: 100px;
    background-color: #1c87c9;
    color: #ffffff;
  }