*
{
    margin: 0;
    outline: none;

}
.bandehaut{
    text-align: center;
    font-family: Arial, sans-serif;
    color:white;
    background-color: rgba(175, 4, 4, 0.825);
    grid-area: "bandeau";
    margin: 0px;
    padding-top: 5px;
    font-weight: bold;
}
body{
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 3fr 15fr 3fr;
    grid-template-areas: "bandeau"
                        "Entete"
                        "Principal"
                        "Bas_de_Page "
}
/*Entete*/
header{
    background: black;
    grid-area: Entete;
}
.titre-logo {
    text-align: center; /* Aligner le contenu au centre */
}

.titre-logo h1,
.titre-logo img {
    display: inline-block; /* Afficher en ligne */
    vertical-align: middle; /* Alignement vertical au centre */
}
.logo{
    width: 80px;
    height: auto;
    display: inline;
}
header h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.boutonMenu {

    font-size: larger;
    font-family: 'Courier New', Courier, monospace; /* Police à discuter */
    font-weight: bold;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    border: none;
    background: none;
    color: rgb(254, 254, 254);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 3px solid transparent; /* Bord Transparent */
    padding-bottom: 0px; 
    border-radius: 0; /* Pas de bord Rond */
}


.boutonMenu:hover {
    color: white; /* Couleur du texte en hover */
    border-bottom-color:white; /* Couleur du bord en hover */
    background-color:transparent; /* Couleur du fond en hover */
}

/*Bloc Principal Formulaires  */
table
{
margin: auto;
}

h2{
    text-align: center;
    margin-right: 500px;
    padding:5px;
}
.bloc1{
    background-color:white;
    grid-area:Principal ;
    text-align: justify;
    line-height:1.5;
    padding-left: 100px;
}
/*formulaire*/
textarea,
input[type="date"],
input[type="email"],
input[type="text"],
select {
    width: 60%;
    padding: 10px;
    margin: 2px 5px;
    display: inline-block;
    border: 2px solid #150505;
    border-radius: 10px;
    box-sizing: border-box;
}
textarea {
    vertical-align: middle;
  }
.Envoyer {
    background-color: #3f3f3f;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 0px 4px 900px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #150505;
    transition: background-color 0.3s;
    font-weight: 500;

}
.Envoyer:hover {
    background-color: #575757;
}
.titreformulaire{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30%;
    
}

/*Bloc Lateral Commun  */
.NosProduits{
    text-align: center;
    padding-top: 2px;
}




footer{
    text-align: center;
    color: white;
    background:black;
    grid-area: Bas_de_Page;
   
}