#header{
    background-color:skyblue;
    padding-bottom: 1px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height : 227px;
}

h1{
    color:rgb(194, 72, 35);
}

p{margin: auto; text-align: center;}

#onglet{
    border-spacing: 20px;
}

td{
    border-style:solid;
    padding: 20px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

#menu, #contenu, #footer{
    padding: 50px 0;
} 

#main{
    width: 100%;
    height: 100%;
    margin:auto;
}

#menu{
    float: left;
    width: 240px;
    height: 500px;
    background-color: lightgreen;
}

#contenu{
    margin-left: 245px;
    background-color: lightpink;
    height: 500px;
}

#contenu-title, #article-title{
    padding-bottom: 10px;
}

article{
    justify-content: center;
    display: flex;
}

#article-title{
    margin: 0%;
    padding-top: 10px;
}

img{
    width: 250px;
    height: 200px;
}

#footer{
    background-color: lightyellow;
    clear: both;
}